@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

.card-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 11px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    width: 285px;
}

.image-container{
    overflow: hidden;
    border-radius: 6px;
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 285px;
    cursor: pointer;
}

.image-hover{
    width: 100%;
    height: 100%;
}

.image-hover:hover{
    background-color: hsl(178, 100%, 50% , 0.5);
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nft-name{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    cursor: pointer;
}

.nft-name:hover{
    color: hsl(178, 100%, 50%);
}

.nft-description{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

.time-price{
    display: flex;
}

.time-price div{
    width: 50%;
    font-size: 13px;
}

.time-price div img{
    vertical-align: text-top;
}

.time-price .price{
    color: hsl(178, 100%, 50%);
}

.price img{
    margin-right: 3px;
}

.time-price .time{
    text-align: right;
    color: hsl(215, 51%, 70%);
}

hr{
    margin-top: 20px;
    border: none;
    border-bottom: solid 1px hsl(215, 32%, 27%);
}

.created-by{
    display: flex;
    margin-top: 20px;
    color: hsl(215, 51%, 70%);
}

.created-by .avatar{
    border-radius: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 0 4px;
    width: 30px;
    height: fit-content;
}

.created-by .avatar img{
    margin-top: 4px;
    width: 100%;
    height: auto;
}

.created-by .text{
    margin-top: 9px;
    margin-left: 10px;
}

.created-by .name{
    margin-left: 3px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.created-by .name:hover{
    color: hsl(178, 100%, 50%);
}

footer {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
footer a {
  color: hsl(228, 45%, 44%);
}
